.content {
  width: 100%;
  max-width: 1000px;
  padding: 40px 20px;
  margin: auto;
  min-width: 1000px;
}

.exchange {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

.exchange-rates {
  width: 100%;
  max-width: 570px;
  margin: 20px 0 0 20%;
}

.exchange-field {
  width: 744px;
  height: 100%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  border: 1px solid #8C9EFF;
}

.exchange-field img {
  vertical-align: middle;
  margin-left: 50px;
}

.exchange-field input {
  vertical-align: middle;
}

h1 {
  font-size: 32px;
  margin: 0;
  text-align: center;
  color: #3f51b5;
}

p {
  width: auto;
  font-size: 18px;
  color: #525763;
  padding-left: 49px;
  margin-left: 20px;
}

/*input {*/
  /*width: 205px;*/
  /*height: 33px;*/
  /*border: 2px solid #c2dee7;*/
  /*background: #c2dee7;*/
  /*border-radius: 20px;*/
  /*color: #636f7b;*/
  /*font-size: 16px;*/
  /*padding-left: 15px;*/
  /*padding-right: 15px;*/
/*}*/

/*input:hover {*/
  /*background-color: #ffffff;*/
  /*color: #7e8791;*/
/*}*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.text {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  color: #525763;
  text-align: center;
  margin-top: 10px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 44%;
}


span {
  margin: 0 0 0 30px;
  display: inline-block;
  padding: 0 0 0 40px;
  line-height: 66px;
}

.form {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

.form-field + .form-field {
  margin-top: 20px;
}

.form-field > label {
  display: inline-block;
  width: 170px;
  font-size: 16px;
  vertical-align: middle;
}

.form-field > input {
  vertical-align: middle;
}
.form-field mat-form-field{
  display: inline;
}

.small-img {
  width: 48px;
  height: 48px;
}
