<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="content">
  <div class="exchange">
    <h1>Обмен ЧТО_ТО на ЧТО_ТО</h1>
    <div class="exchange-rates">
      <p style="background: url(https://utbs.ws/images/rate.png) 0 50% no-repeat;">
        <strong>Курс:</strong>
        Лайткоин/Яндекс.Деньги РУБ = 3241.2839
      </p>
      <p style="background: url(https://utbs.ws/images/reserve.png) 0 50% no-repeat;">
        <strong>Резерв:</strong>
        97.45 Яндекс.Деньги РУБ
      </p>
    </div>
    <strong class="text">(может
      отличаться в момент завершения сделки в связи с изменением курсов валют)</strong>
    <form>
    <div class="exchange-field">
      <table style="margin-left: 7%">
        <tr>
          <td><img src="https://utbs.ws/images/YandexMoneyRUB.png"></td>
          <td><input></td>
          <td><img src="https://utbs.ws/images/ZCash.png" style="margin-left: 20px"></td>
          <td><input></td>
        </tr>
      </table>
    </div>
    <strong class="text" style="color: red">
      ВНИМАНИЕ! Обмен осуществляется через 48 часов после поступления средств на наш кошелек Яндекс.Деньги</strong>
    <strong class="text" style="margin-top: 30px; font-size: 20px; margin-bottom: 20px;">РЕКВИЗИТЫ</strong>
      <table style="margin-right: auto; margin-left: auto;">
        <tr>
          <td>Счет Яндекс.Деньги</td>
          <td><input type="text" style="width: 350px;"></td>
        </tr>
        <tr>
          <td>Адрес ZCash</td>
          <td><input type="text" style="width: 350px;"></td>
        </tr>
        <tr>
          <td>Фамилия</td>
          <td><input type="text" style="width: 350px;"></td>
        </tr>
        <tr>
          <td>Имя</td>
          <td><input type="text" style="width: 350px;"></td>
        </tr>
        <tr>
          <td>E-Mail</td>
          <td><input type="text" style="width: 350px;"></td>
        </tr>
        <tr>
          <td>Телефон</td>
          <td><input type="text" style="width: 350px;"></td>
        </tr>
      </table>
      <button type="submit">Отправить</button>
    </form>
  </div>
</div>
