.content {
  float: left;
  width: 100%;
}

.reserve {
  float: left;
  width: 100%;
  min-width:800px;
  height: 448px;
  margin: 62px 0 50px 0;
  padding-top: 20px;
}

.exchange {
  text-align: center;
  width: 998px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0 20px 0;
}

h1 {
  font-size: 32px;
  margin: 0;
  text-align: center;
  color: #3f51b5;
  vertical-align: middle;
}

table {
  display: table;
  border-spacing: 2px;
  border-color: grey;
  width: 858px;
  border-collapse: collapse;
  margin: 40px 70px 10px;
}

td {
  font-size: 16px;
  color: #525763;
  text-align: center;
}

tr {
  color: #525763;
  text-align: center;
}

.reserve .exchange {
  padding: 0;
  height: 138px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

select {
  width: 340px;
  height: 40px;
  font-size: 16px;
  margin: 5px 0 0 0;
  color: #636f7b;
  border: 1px solid #c2dee7;
  position: relative;
  display: inline-block;

}


option:hover {
  color: #7e8791;
  border: 1px solid #d9eaef;
  background: #d9eaef;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.small-img {
  width: 24px;
  height: 24px;
}

.form {
  margin: 0 auto;
  width: 100%;
}

.form-field > label {
  margin-top: 1%;
  display: inline-block;
  width: 280px;
  font-size: 16px;
  vertical-align: middle;
  color: #525763;
}

.form-field > img {
  margin: 3% 12% 0 12%;
  display: inline-block;
  vertical-align: middle;
}

.table-container {
  display: flex;
  flex-direction: column;
  max-height: 336px;
  min-width: 300px;
}

.mat-table {
  background-color: #E8EAF6;
  overflow: auto;
  max-height: 500px;
}
mat-header-cell{
  color: #3f51b5;
}
