<div class="content">
  <div class="exchange">
    <h1>
      <img src="/assets/calculator.png">
      <span>
        Обмен
        <samp>{{givNameValut}}</samp>
         на
        <samp>{{getNameValut}}</samp>
         по выгодному курсу
      </span>
    </h1>
    <form>
      <table>
        <tbody>

        <tr>
          <th>Отдаете</th>
          <td>
            <select id="givSelect" (change)="setGivValut(give.value)" #give>
              <option name="give" *ngFor="let curensy of curensys" value="{{curensy.name}}">{{curensy.name}}</option>
            </select>
          </td>
          <td><input [(ngModel)]="getV" (ngModelChange)="getValueMoney(getV)" maxlength="3"
                     placeholder="≥ 3 {{givNameValut}}" name="getV" required/></td>
          <td><img width="48" height="48" alt="" src="{{giveValutImg}}"/></td>
          <td rowspan="2">
            <a (click)="switcher()"><img src="/assets/switch.png"/></a>
          </td>
        </tr>

        <tr>
          <th>Получаете</th>
          <td>
            <select id="getSelect" (change)="setGetValut(get.value)" #get>
              <option *ngFor="let curensy of curensys" value="{{curensy.name}}" value="{{curensy.name}}">
                {{curensy.name}}
              </option>
            </select>
          </td>
          <td><input maxlength="16" placeholder="≥ 50 {{getNameValut}}" value="{{getValueM}}"/></td>
          <td><img width="48" height="48" alt="" src="{{getValutImg}}" id="getMoney"/></td>
        </tr>

        </tbody>
      </table>
      <button type="submit">Укажите сумму обмена</button>
    </form>
    <table>
      <tr>
        <td><img src="/assets/reserve.png"></td>
        <td><img src="/assets/rate.png"></td>
        <td><img src="/assets/reverse_rate.png"></td>
      </tr>
      <tr>
        <th>Резерв:</th>
        <th>Курс {{givNameValut}} к {{getNameValut}}:</th>
        <th>Обр. курс:</th>
      </tr>
      <tr>
        <td>{{reservGetValut}} {{getNameValut}}</td>
        <td>1 {{givNameValut}} = {{currentRate}} {{getNameValut}}</td>
        <td>1 {{getNameValut}} = {{reverseCourse}} {{givNameValut}}</td>
      </tr>
    </table>
  </div>
  <div class="reserve">
    <h1 style="color: white"><img src="/assets/reserves_header.png">Резервы</h1>
    <div class="exchange" style="background-color: white; box-shadow: 0 0 0 0;">
      <table>
        <tr>
          <td></td>
          <th>Валюта</th>
          <th>Резерв</th>
        </tr>
        <tr>
          <td><img src="https://utbs.ws/images/ZCash.png" class="small-img"></td>
          <td>ZCash</td>
          <td>4.16 ZEC</td>
        </tr>
        <tr>
          <td><img src="https://utbs.ws/images/DASH.png" class="small-img"></td>
          <td>DASH</td>
          <td>0.21 DASH</td>
        </tr>
        <tr>
          <td><img src="https://utbs.ws/images/Litecoin.png" class="small-img"></td>
          <td>Лайткоин</td>
          <td>0.01 LTC</td>
        </tr>
      </table>
      <table>
        <tr>
          <td></td>
          <th>Валюта</th>
          <th>Резерв</th>
        </tr>
        <tr>
          <td><img src="https://utbs.ws/images/ZCash.png" class="small-img"></td>
          <td>ZCash</td>
          <td>4.16 ZEC</td>
        </tr>
        <tr>
          <td><img src="https://utbs.ws/images/DASH.png" class="small-img"></td>
          <td>DASH</td>
          <td>0.21 DASH</td>
        </tr>
        <tr>
          <td><img src="https://utbs.ws/images/Litecoin.png" class="small-img"></td>
          <td>Лайткоин</td>
          <td>0.01 LTC</td>
        </tr>
      </table>
    </div>
  </div>

</div>
