<div class="content">
  <div class="exchange">
    <h1>
      <span>
        Обмен {{givNameValut}} на {{getNameValut}}
      </span>
    </h1>
    <table>
      <tbody>
      <tr>
        <td>
          <mat-form-field>
            <mat-select placeholder="Отдаете" [(ngModel)]="selectedgivValueValut"
                        (change)="setGivValut(give.value)" #give>
              <mat-option name="give" *ngFor="let curensy of curensys" [value]="curensy.name">
                {{curensy.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="getV" (ngModelChange)="getValueMoney(getV)"
                   placeholder="≥ 3 {{givNameValut}}" name="getV" type="number" required>
          </mat-form-field>

        </td>
        <td><img width="48" height="48" alt="" src="{{giveValutImg}}"/></td>
        <td rowspan="2">
          <a (click)="switcher()"><img height="36px" src="/assets/switch.png"/></a>
        </td>
      </tr>

      <tr>
        <td>
          <mat-form-field>
            <mat-select placeholder="Получаете" [(ngModel)]="selectedgetValueValut"
                        (change)="setGetValut(get.value)" #get>
              <mat-option name="get" *ngFor="let curensy of curensys" [value]="curensy.name">
                {{curensy.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>

        <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="{{getNameValut}}" type="number" value="{{getValueM}}" required>
          </mat-form-field>
        </td>
        <td><img width="48" height="48" alt="" src="{{getValutImg}}" id="getMoney"/></td>
      </tr>
      </tbody>
    </table>
    <a *ngIf="buttonSwitch"
       href="/#/form?givNameValut={{givNameValut}}&getNameValut={{getNameValut}}&givValueM={{givValueM}}&getValueM={{getValueM}}">
      <button mat-raised-button color="primary" >Обмен {{givNameValut}}
        {{givValueM}} на {{getValueM}} {{getNameValut}}
      </button>
    </a>
    <button mat-button style="color: #525763" *ngIf="!buttonSwitch"> Укажите сумму обмена</button>
      <div class="form">
      <div class="form-field">
        <img src="/assets/reserve.png">
        <img src="/assets/rate.png">
      </div>
      <div class="form-field">
        <label><strong>Резерв:</strong></label>
        <label><strong>Курс {{givNameValut}} к {{getNameValut}}:</strong></label>
      </div>
      <div class="form-field">
        <label>{{reservGetValut}} {{getNameValut}}</label>
        <label>1 {{givNameValut}} = {{currentRate}} {{getNameValut}}</label>
      </div>
    </div>
  </div>
  <div class="reserve">
    <h1 style="color: #3f51b5">Резервы</h1>
    <div class="exchange" style="background-color: white; box-shadow: 0 0 0 0;">
      <div class="table-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource">
          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Валюта </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef> Резерв </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.reserv}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="symbol">
            <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
            <mat-cell *matCellDef="let element"> <img class="small-img" src="{{element.symbolUrl}}"> </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>

    </div>
  </div>
</div>
